.zagolovok{
    max-width: 400px;
    margin: auto;
}

h1{
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
}

.meme{
    width: 100%;
    border-radius: 25px;

}

img{
    width: 100%;
}